<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainee List</title>
</head>
<body>
    <h1>Trainee List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for trainee in trainees %}
        <tr>
            <td>{{ trainee.id }}</td>
            <td>{{ trainee.name }}</td>
            <td>{{ trainee.email }}</td>
            <td>
                <a href="{% url 'trainee_details' trainee.id %}">Details</a>
                <a href="{% url 'trainee_update' trainee.id %}">Update</a>
                <a href="{% url 'trainee_delete' trainee.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'trainee_create' %}">Add New Trainee</a>
</body>
</html>
